<div class="well">
  <h2>
    <div class="blog-post-title-wrapper-well">
      <span class="blog-post-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </span>
      <br />
      <small>
        <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%B %-d, %Y"}}
      </small>
      <hr />
    </div>
  </h2>
  {{ post.excerpt }}
  {% if post.excerpt != post.content %}
    <div class="clearfix">
      <div class="pull-right">
        <a class="btn btn-default" href="{{ site.baseurl }}{{ post.url }}#disqus_thread">Comment</a>
        <a class="btn btn-primary" href="{{ site.baseurl }}{{ post.url }}">Read more</a>
      </div>
    </div>
  {% endif %}
</div>
