    <!-- footer -->
      <footer class="footer container-fluid navbar navbar-default navbar-fixed-bottom">
        <div class="container">
          <div class="copyright col-xs-12 col-md-6">
            <p class="text-muted">
              {% capture this_year %}{{'now' | date: "%Y"}}{% endcapture %}
              &copy; 2017{% if this_year != '2017' %}–{{ this_year }}{% endif %} <a href="https://adamliter.org">Adam Liter</a>
            </p>
          </div><!-- End of .copyright -->
          <div class="atom-feed col-xs-12 col-md-6">
            <a href="{{ site.url}}{{ site.baseurl }}/{{ site.feed.path }}">
              <i class="fa fa-rss" aria-hidden="true"></i>
              Subscribe to this site's Atom feed
            </a>
          </div><!-- End of .atom-feed -->
        </div><!-- End of .container -->
      </footer><!-- End of footer -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script
			  src="https://code.jquery.com/jquery-1.12.4.min.js"
			  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			  crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.url }}/js/bootstrap.min.js"></script>
    <!-- Enable popovers -->
    <script>
      $(document).ready(function(){
        $('[data-toggle="popover"]').popover({html:true});
      });
    </script>
    <!-- Disqus -->
    <script id="dsq-count-scr" src="//atomicwriting.disqus.com/count.js" async></script>
  </body>
</html>
