<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta -->
    <title>{{ page.title }} </title>
    <meta charset="utf-8" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="keywords" content="{{ site.keywords }}" />
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styling -->
    <link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/css/main.css" />
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b22613">
    <meta name="apple-mobile-web-app-title" content="Atomic Writing">
    <meta name="application-name" content="Atomic Writing">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#dfdfdf">
    <!-- font awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway:400,400i,700,700i|Yellowtail&amp;subset=latin-ext" rel="stylesheet">
    <!-- atom feed -->
    {% feed_meta %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WHQW2SK99C"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'G-WHQW2SK99C');
    </script>
  </head>

  <body>
    <!-- header -->
    <header>
      <!-- navbar -->
      <nav class="navbar navbar-default navbar-static-top">
	<div class="container">
	  <div class="navbar-header">
	    <a href="{{ site.url }}{{ site.baseurl }}" class="navbar-brand">
	      Atomic Writing
	    </a>
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	  </div><!-- End of .navbar-header div -->
	  <ul class="nav navbar-nav collapse navbar-collapse">
	    <li {% if page.nav_node == "home" %} class="active" {% endif %} >
	      <a href="{{ site.url }}{{ site.baseurl }}">
		home
		{% if page.nav_node == "home" %}<span class="sr-only">(current)</span>{% endif %}
	      </a>
	    </li>
	    <li {% if page.nav_node == "about" %} class="active" {% endif %} >
	      <a href="{{ site.url }}{{ site.baseurl }}/about">
		about
		{% if page.nav_node == "about" %}<span class="sr-only">(current)</span>{% endif %}
	      </a>
	    </li>
	  </ul>
	</div><!-- End of .container-fluid div -->
      </nav><!-- End of navbar -->
    </header><!-- End of header -->
