---
title: Atomic Writing | psiTurk Tutorial
layout: default
nav_node: tutorials
---

<h2>
  Tutorial: Deploying a psiTurk experiment on Linode, using Docker
</h2>

<br />

<p>
  The following blog posts are part of a tutorial series that teach you
  how to deploy an <a href="https://www.mturk.com/mturk/welcome"
  target="_blank">Amazon Mechanical Turk</a> experiment
  using <a href="https://psiturk.org" target="_blank">psiTurk</a>.
</p>

<p>
  It is assumed (i) that you know what Amazon Mecahnical Turk is; (ii)
  that you are familiar with how psiTurk works; and (iii) that you are
  comfortable running commands on a computer using the command line.
</p>

<p>
  Specifically, you will learn how to set up a virtual private server on
  Linode with a static IP address, how to install Docker and Docker
  Compose, and how to deploy both your experiment and a database to
  collect your data using Docker on that Linode virtual private server.
</p>

<p>
  If you find the tutorial helpful, please consider signing up for a
  Linode account using
  my <a href="https://www.linode.com/?r=54ae7f8d79dc2dcea5d7778008242b6be864a8cf"
  target="_blank">referral link</a>. Thanks! 🎉
</p>

<hr />

{% for post in site.posts reversed %}
  {% if post.tutorial == "psiturk-docker-linode" %}
    {% include blog-post-well.html %}
  {% endif %}
{% endfor %}


<!-- Local Variables: -->
<!-- mode: html -->
<!-- coding: utf-8 -->
<!-- fill-column: 72 -->
<!-- End: -->
