{% include header.html %}

<!-- main content -->
<main class="container">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
  {{ content }}
  </div>
</main><!-- End of main content -->

{% include footer.html %}
