{% include header.html %}

<!-- main content -->
<main class="container">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h1>
      <div class="blog-post-title-wrapper">
        <span id="blog-post-title">
          {{ page.title }}
        </span>
        <br />
        <small>
          <i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%B %-d, %Y" }} {% if page.last_updated != nil %}(Last updated: {{ page.last_updated | date: "%B %-d, %Y" }}){% endif %}
        </small>
        <br />
      </div>
    </h1>
    <hr />
    {{ content }}

    <div class="disqus-comment-container">
      {% include disqus.html %}
    </div><!-- End .disqus-comment-container -->

  </div>

</main><!-- End of main content -->

{% include footer.html %}
